FAL_KEY=xxx
POSTGRES_URL=xxx
AWS_REGION=xxxxx
HCAPTCHA_SECRET_KEY=xxxxx

NEXT_PUBLIC_S3_BASE_URL=xxxx # url to s3 bucket
NEXT_PUBLIC_DEVELOPER_MODE=true  # set to 'true' to enable /seed and bypass captcha
NEXT_PUBLIC_BASE_PATH=/garden-planner # path for vercel microfront ends
